@inherits LayoutComponentBase

<div class="grid-container">
    <main role="main">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet style="display:none;">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
</div>
